ion-content{
    width: 100%;
    
    background-image: url('../assets/imgs/logo.PNG');
    background-size: cover;
    background-position: center;
}

.letra{
    color: rgb(252, 92, 0);
}

.bar{
    background-color: aquamarine;
}